---
import AccountList from "../components/AccountList.astro";
import WeekendCalendar from "../components/WeekendCalendar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const { searchParams } = Astro.url;
const weekOffset = Number(searchParams.get("offset") || "0");
---

<BaseLayout title="Porpoise">
    <h1>Porpoise</h1>

    <WeekendCalendar weekOffset={weekOffset}>
        <div slot="fallback">Loading WeekendCalendar...</div>
    </WeekendCalendar>

    <AccountList>
        <div slot="fallback">Loading AccountList...</div>
    </AccountList>

    <div>
        <a role="button" href="/accounts">
            Manage accounts (signing in required)
        </a>
    </div>
</BaseLayout>
