---
import WeekendCalendar from "../components/WeekendCalendar.astro";
import db from "../db";
import BaseLayout from "../layouts/BaseLayout.astro";

const { host } = Astro.url;

const credential = await db.query.credentials.findFirst();
if (credential == null) return Astro.redirect("/setup");
---

<BaseLayout title={host}>
    <hgroup>
        <h1>{host}</h1>
        <p>This Hollo instance has the below accounts.</p>
    </hgroup>

    <WeekendCalendar />

    <div>
        <a role="button" href="/accounts">
            Manage accounts (signing in required)
        </a>
    </div>
</BaseLayout>
