---
import AccountList from "../components/AccountList.astro";
import WeekendCalendar from "../components/WeekendCalendar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

export const prerender = true;
---

<BaseLayout title="Porpoise">
    <h1>Porpoise</h1>

    <WeekendCalendar server:defer>
        <div slot="fallback">Loading WeekendCalendar...</div>
    </WeekendCalendar>

    <AccountList server:defer>
        <div slot="fallback">Loading AccountList...</div>
    </AccountList>

    <div>
        <a role="button" href="/accounts">
            Manage accounts (signing in required)
        </a>
    </div>
</BaseLayout>
